[Desktop Entry]
Type=Application
Name=Revenant
GenericName=Snapshot Manager
Comment=Manage btrfs system snapshots and restore points
Exec=/usr/bin/revenant-gui
Icon=dev.sniner.RevenantGui
Terminal=false
Categories=System;Utility;
Keywords=snapshot;backup;restore;rollback;btrfs;
StartupNotify=true
StartupWMClass=dev.sniner.RevenantGui
